body {
    background-image: url(https://wallpaperaccess.com/full/1919770.jpg);
    font-family:monospace;
    background-size: inherit;
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 10vh;
    padding: 20px;
    color: white;
    font-size: 5vh;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
}

div {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    padding: 10vh;
    font-size: 8vh;
    background-color: transparent;
    border: 0;
    padding: 2vh;
    margin: 10vh;
    color: white;
}
